#content {
  width: 1600px ;
  margin-left: auto ;
  margin-right: auto ;
}

table {
        border-collapse: separate;
        border-spacing: 0px 5px;
      }


table.shortcuts td {
  border-bottom: 1px solid black;
 
}
      
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  padding: 0px 0px 0px 0px;
    margin: 0px;
    text-align: right;
    vertical-align: center;
  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#list  p {
    font: arial;
    font-size: 14px;
}